* {
    margin: 0;
    padding: 0;
}

a {
    border: groove 1px red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.gridcontainer {
    background-color: black;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

.griditem {
    display: grid;
    grid-template-areas:
        'a a a a b b'
        'c c c d d d'
        'c c c e e e'
    ;
    gap: 10px;
    margin: auto;
    width: 27%;


}

main>div {
    padding: 1em;
}

.grid1 {
    background-color: orangered;
    color: orangered;
    padding-top: 100px;
    grid-area: a;
}

.grid2 {
    background-color: orange;
    color: orange;
    grid-area: b;
}

.grid3 {
    background-color: green;
    color: green;
    grid-area: c;
    padding-bottom: 100%;

}

.grid4 {
    background-color: rgb(38, 160, 201);
    color: rgb(38, 160, 201);
    grid-area: d;
}

.grid5 {
    background-color: rgb(38, 160, 201);
    color: rgb(38, 160, 201);
    grid-area: e;
}